In [ ]:
import json
import os, getpass
from langchain.chat_models import init_chat_model
from IPython.display import Image, display

def _set_env(var: str):
    if not os.environ.get(var):
        os.environ[var] = getpass.getpass(f"{var}: ")

_set_env("OPENAI_API_KEY")
_set_env("LANGCHAIN_API_KEY")
_set_env("MISTRAL_API_KEY")
_set_env("TOGETHER_API_KEY")

os.environ["LANGCHAIN_TRACING_V2"] = "false"
os.environ["LANGCHAIN_PROJECT"] = "shared_task_critical_questions"

In [ ]:
from experiments.evaluation import evaluate_existing_exp

new_results_df, all_experiments_results_df, summary_extended_df = evaluate_existing_exp()

In [ ]:

def show_for_llm(llm_name):
    return summary_extended_df[summary_extended_df['model_name'] == llm_name][:3][['upper_bound', "experiment_name", "Useful_ratio", "overall_punctuation", '+/-',"3/3_ratio"]]

show_for_llm("llama8b")

#llama8b_social_n3_Teee_Srdd

# 3/3
#  4RANKS_VAL_llama8b_social_n3_Teee_Srdd, 4SCORES_VAL_llama70b_social_n2_Tee_Sddd, 4SCORES_VAL_mistral24b_social_n3_Teeo_Sddr

In [6]:
#
show_for_llm("llama8b")

,upper_bound,experiment_name,Useful_ratio,overall_punctuation,+/-,3/3_ratio
373,0.80,4RANKS_VAL_llama8b_social_n3_Teee_Srdd,0.71,0.71,0.18,0.42
124,0.78,llama8b_social_n3_Teee_Srdd,0.71,0.71,0.15,0.40
57,0.78,llama8b_social_n3_Teee_Srd,0.70,0.70,0.17,0.42

In [7]:
show_for_llm("mistral24b")

,upper_bound,experiment_name,Useful_ratio,overall_punctuation,+/-,3/3_ratio
370,0.82,4SCORES_VAL_mistral24b_social_n3_Teeo_Sddr,0.78,0.78,0.08,0.58
381,0.82,4RANKING_VAL_mistral24b_social_n3_Teeo_Sddr,0.78,0.78,0.08,0.57
351,0.82,mistral24b_social_n3_Teeo_Sddr,0.78,0.78,0.07,0.54

In [ ]:
from experiments.validation_agents import VALIDATION_4SCORES_VAL, reevaluate_experiments
best_70b = "llama70b_social_n2_Tee_Sddd"
best_8b = "llama8b_social_n3_Teee_Srdd"
best_mistral = "mistral24b_social_n3_Teeo_Sddr"

reevaluate_experiments(social_experiments_lst=[best_70b, best_8b, best_mistral],
                       val_type=VALIDATION_4SCORES_VAL,
                       OUTPUT_FILES = "output/elbaff_experiment")